[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
compose-flow = "*"
docker-compose = "*"
dc-workflows = "*"

[dev-packages]

[requires]
python_version = "3.6"
